/Consesionarios/nbproject/private/
/Consesionarios/build/
/Cuenta_ejercicio/nbproject/private/
/Cuenta_ejercicio/build/
/ecuacion_ejercicio/ecuacion_ejercicio/build/
/JavaApplication2/nbproject/private/
/examen1Grupo/nbproject/private/
/examen1Grupo1/nbproject/private/
/examen1Grupo1/build/
/empleados_ejercicio/nbproject/private/
/Computador_ejercicio/nbproject/private/
